@import "tailwindcss";

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #fafafa;
  color: #171717;
  font-feature-settings: 'palt';
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
